html {
  background: url("environment2.gif") no-repeat center fixed;
  background-size: cover;
}

body {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
}

p {
  padding-top: 20px;
}

#title {
  color: #009;
}

#about {
  color:#009;
}

#founders {
  color:#009;
}
