#resetBtn {
  position: fixed;
  top: 120px;
  right: 30px;
  border: none;
  outline: none;
  background-color: pink;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  border-radius: 50%
  font-weight: bold;
}

#resetBtn:hover {
  background-color: lightskyblue;
  color: lightslategray;
}
