html {
  background-size: cover;
}

form {
border:5px solid #9C0;
background-color: #6BDCF9;
padding: 12px;}

input {color: #096; font-weight:bold}

h1,h2, p {margin-bottom:26px}

#survey {
  padding-left:30px;
  padding-right:30px;
  padding-bottom: 30px;
  padding-top:60px;
}
