html {
  background-size: cover;
}

body {
  margin:0;
  padding:0;
}
form {
border:5px solid #191970;
background-color:#20B2AA;
padding: 12px;}

input {color: #096; font-weight:bold}

h1 {
  text-align: center;
  background-color: lightblue;
  margin: 0;
  padding: 30px;
}

/* #title {
  margin:0;
  padding: 15px;
  background-color: lightblue;
} */

#title2 {
  padding-top:60px;
}


p {
  margin-bottom:26px;
}

body {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
/* h1 {
    background-color: lightblue;
}
 */
