html {
  background-size: cover;
}

body {
  margin:0;
  padding:0;
}
form {
border:5px solid #9C0;
background-color: lightblue;
padding: 12px;}

input {color: #096; font-weight:bold}

#title {
  margin:0;
  padding: 15px;
}

#title2 {
  padding: 20px;
  background-color: lightblue;
}
p {
  margin-bottom:26px;
}

body {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
/* h1 {
    background-color: lightblue;
}
 */
